:root {
  background-color: hsl(241, 100%, 89%);
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
}
.main-container {
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100vmax;
  box-shadow: 4px 8px 8px 4px hsla(224, 30%, 27%, 0.1);
}
.container,
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 7rem;
}
.form-container {
  border-radius: 2rem;
  padding: 0;
  box-shadow: 2px 4px 2px 4px hsla(224, 30%, 27%, 0.1);
}
.result-container {
  flex: 1;
  background-image: linear-gradient(
    0deg,
    hsl(241deg 81% 54%) 0%,
    hsl(242deg 83% 55%) 11%,
    hsl(243deg 85% 57%) 22%,
    hsl(245deg 88% 58%) 33%,
    hsl(246deg 89% 60%) 44%,
    hsl(247deg 92% 61%) 56%,
    hsl(248deg 94% 63%) 67%,
    hsl(250deg 96% 64%) 78%,
    hsl(251deg 98% 65%) 89%,
    hsl(252deg 100% 67%) 100%
  );
  color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}
.result-container h3 {
  color: hsl(241, 100%, 89%);
}

.result-score {
  background-image: linear-gradient(
    156deg,
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0.2) 90%
  );
  border-radius: 50%;
  padding: 3rem;
}
.result-score h1 {
  font-size: 38px;
}
.result-score p {
  color: hsl(241, 100%, 89%);
}
.result-score h1,
.result-score p,
.result-description p {
  margin: 0;
  padding: 0;
}
.result-container p {
  word-wrap: break-word;
}
.result-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-description p {
  text-align: center;
  color: hsl(241, 100%, 89%);
  margin-bottom: 2rem;
}
.summary-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 2rem;
}
.summary-container H2 {
  margin-left: 0.5rem;
}
.summary-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-reaction {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
  border-radius: 1rem;
  width: 80%;
  margin: 0.5rem;
  padding: 0 1rem;
}
.summary-memory {
  display: flex;
  justify-content: space-between;
  color: hsl(39, 100%, 56%);
  background-color: hsl(39, 100%, 56%, 0.1);
  width: 80%;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0 1rem;
}
.summary-verbal {
  display: flex;
  justify-content: space-between;
  color: hsl(166, 100%, 37%);
  background-color: hsl(166, 100%, 37%, 0.1);
  border-radius: 1rem;
  width: 80%;
  margin: 0.5rem;
  padding: 0 1rem;
}
.summary-visual {
  display: flex;
  justify-content: space-between;
  color: hsl(234, 85%, 45%);
  background-color: hsl(234, 85%, 45%, 0.1);
  width: 80%;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0 1rem;
}
.score {
  margin-left: 2rem;
  color: hsl(224, 30%, 27%);
}

.summary-button button {
  border: none;
  background-color: hsl(224, 30%, 27%);
  color: hsl(241, 100%, 89%);
  padding: 1rem 4rem;
  border-radius: 2rem;
}
.summary-button button:hover {
  background-image: linear-gradient(
    0deg,
    hsl(241deg 81% 54%) 0%,
    hsl(242deg 83% 55%) 11%,
    hsl(243deg 85% 57%) 22%,
    hsl(245deg 88% 58%) 33%,
    hsl(246deg 89% 60%) 44%,
    hsl(247deg 92% 61%) 56%,
    hsl(248deg 94% 63%) 67%,
    hsl(250deg 96% 64%) 78%,
    hsl(251deg 98% 65%) 89%,
    hsl(252deg 100% 67%) 100%
  );
  cursor: pointer;
}
